.album{
  color: #DAA520;
}
.review{
  font-family: Agency FB;
  font-size: 40px;
  color: #DAA520;
}
.form-group{
  font-family: Agency FB;
  font-size: 35px;
  color: grey;
}
.button{
  background: #90EE90;
  font-size: 20px;
}